/* src/fonts.css */
/* Font is preloaded in index.html for better performance */

@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');

.instrument-serif-regular {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.instrument-serif-regular-italic {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: italic;
}

body {
  font-family: 'Inter', sans-serif;

  .inter-thin {
    font-family: "Inter", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .inter-extralight {
    font-family: "Inter", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .inter-light {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .inter-regular {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .inter-medium {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .inter-semibold {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .inter-bold {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .inter-extrabold {
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .inter-black {
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .inter-thin-italic {
    font-family: "Inter", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .inter-extralight-italic {
    font-family: "Inter", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .inter-light-italic {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .inter-regular-italic {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .inter-medium-italic {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .inter-semibold-italic {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .inter-bold-italic {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .inter-extrabold-italic {
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .inter-black-italic {
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  
}

